<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quirke | @ViewData["Title"]</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- FontAwesome and Ionicons via CDN -->
    <link href="~/quirke/css/all.min.css" rel="stylesheet" />
    <link href="~/quirke/css/ionicons.min.css" rel="stylesheet" />

    <!-- Bootstrap and AdminLTE Core CSS -->
    <link href="~/quirke/css/adminlte.min.css" rel="stylesheet" />

    <!-- External Plugins -->
    <link href="~/quirke/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/quirke/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/quirke/css/daterangepicker.min.css" rel="stylesheet" />

    <!-- Datatables and SweetAlert2 via CDN -->
    <link href="~/quirke/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/quirke/css/sweetalert2.min.css" rel="stylesheet" />

    <!-- Add jQuery UI CSS -->
    <link href="~/quirke/css/jquery-ui.css" rel="stylesheet" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/adminltelogo.png" alt="AdminLTE Logo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Logout">Logout</a>
                </li>
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/" class="brand-link">
                <img src="~/dist/img/adminltelogo.png" alt="Quirke" class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">QUIRKE</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item ">
                            <a href="/Home" class="nav-link active"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a>
                        </li>
                   

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tools"></i>
                                <p>
                                    Admin Access
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item ">
                                    <a href="/Customer" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Client List</p>
                                    </a>
                                </li>
                                @* <li class="nav-item ">
                                    <a href="/Inventory/Products" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Inventory</p>
                                    </a>
                                </li> *@
                                @* <li class="nav-item ">
                                    <a href="/Inventory/CurrentStock" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Current Stock</p>
                                    </a>
                                </li> *@
                                <li class="nav-item ">
                                    <a href="/Inventory/History" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Inventory History</p>
                                    </a>
                                </li>
                                @* <li class="nav-item ">
                                    <a href="/Employee" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Employee List</p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/Employee/LeaveRequest" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Leave Requests</p>
                                    </a>
                                </li> *@
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.Brand)" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Brands</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.Treatment)" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Treatments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.LeaveType)" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Leave Types</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Suppliers" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Suppliers</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="main-footer">
            <strong>&copy; USW 2024.</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="~/quirke/js/jquery-3.6.0.min.js"></script>

    <!-- Add jQuery UI JS -->
    <script src="~/quirke/js/jquery-ui.min.js"></script>


    <script src="~/quirke/js/jquery.validate.min.js"></script>
    <script src="~/quirke/js/additional-methods.min.js"></script>
    <script src="~/quirke/js/jquery.validate.unobtrusive.min.js"></script>

    <!-- sweetalert -->
    <script src="~/quirke/js/sweetalert2.all.min.js"></script>

   
   @*  <script src="~/quirke/js/sweetalert2@11.js"></script> *@

    <!-- Plugins -->
    <script src="~/quirke/js/moment.min.js"></script>
    <script src="~/quirke/js/daterangepicker.min.js"></script>
    <script src="~/quirke/js/jquery.datatables.min.js"></script>


    <!-- AdminLTE App -->
    <script src="~/quirke/js/adminlte.min.js"></script>

    <script>
        // Input restriction on mobile number
        $(document).on('input', '.clsMobileNumber', function () {
            this.value = this.value.replace(/[^0-9]/g, '').substring(0, 11);
        });

        // Show alerts based on TempData messages
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var warningMessage = '@TempData["WarningMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                Swal.fire('Success!', successMessage, 'success');
            }
            if (warningMessage) {
                Swal.fire('Warning!', warningMessage, 'warning');
            }
            if (errorMessage) {
                Swal.fire('Error!', errorMessage, 'error');
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
