<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quirke | @ViewData["Title"]</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- FontAwesome and Ionicons via CDN -->
    <link href="~/quirke/css/all.min.css" rel="stylesheet" />
    <link href="~/quirke/css/ionicons.min.css" rel="stylesheet" />

    <!-- Bootstrap and AdminLTE Core CSS -->
    <link href="~/quirke/css/adminlte.min.css" rel="stylesheet" />

    <!-- External Plugins -->
    <link href="~/quirke/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/quirke/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/quirke/css/daterangepicker.min.css" rel="stylesheet" />

    <!-- Datatables and SweetAlert2 via CDN -->
    <link href="~/quirke/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/quirke/css/sweetalert2.min.css" rel="stylesheet" />

    <!-- Add jQuery UI CSS -->
    <link href="~/quirke/css/jquery-ui.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/quirke/img/AdminLTELogo.png" alt="AdminLTE Logo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Logout">Logout</a>
                </li>
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/" class="brand-link">
                <img src="~/quirke/img/AdminLTELogo.png" alt="Quirke" class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">QUIRKE</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item ">
                            <a href="/Home" class="nav-link" id="dashboard-link"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Admin Access
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Customer" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Client List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Inventory/History" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Inventory History</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.Brand)" class="nav-link" id="brands-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Brands</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.Treatment)" class="nav-link" id="treatments-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Treatments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Index/@Convert.ToInt32(MasterType.LeaveType)" class="nav-link" id="leave-types-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Leave Types</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Master/Suppliers" class="nav-link" id="suppliers-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Suppliers</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                      
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="main-footer">
            <strong>&copy; USW 2024.</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="~/quirke/js/jquery-3.6.0.min.js"></script>

    <!-- Add jQuery UI JS -->
    <script src="~/quirke/js/jquery-ui.min.js"></script>


    <script src="~/quirke/js/jquery.validate.min.js"></script>
    <script src="~/quirke/js/additional-methods.min.js"></script>
    <script src="~/quirke/js/jquery.validate.unobtrusive.min.js"></script>

    <!-- sweetalert -->
    <script src="~/quirke/js/sweetalert2.all.min.js"></script>

    <!-- Plugins -->
    <script src="~/quirke/js/moment.min.js"></script>
    <script src="~/quirke/js/daterangepicker.min.js"></script>
    <script src="~/quirke/js/jquery.datatables.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/quirke/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {
            var currentUrl = window.location.href.toLowerCase(); // Get the full URL

            $(".nav-sidebar a").each(function () {
                var href = $(this).attr("href").toLowerCase();

                // Check if the current URL contains the menu link
                if (currentUrl.indexOf(href) !== -1) {
                    $(this).addClass("active"); // Add the active class to the current link

                    // If it's a child menu item, make sure the parent stays open
                    var parent = $(this).closest('.has-treeview');
                    if (parent.length) {
                        parent.addClass('menu-open'); // Add the menu-open class to the parent
                        parent.children('a').addClass('active'); // Also highlight the parent
                    }
                } else {
                    $(this).removeClass("active");
                }
            });

            // Show alerts based on TempData messages
            var successMessage = '@TempData["SuccessMessage"]';
            var warningMessage = '@TempData["WarningMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                Swal.fire('Success!', successMessage, 'success');
            }
            if (warningMessage) {
                Swal.fire('Warning!', warningMessage, 'warning');
            }
            if (errorMessage) {
                Swal.fire('Error!', errorMessage, 'error');
            }


            $(document).on('click', '.delete-button', function (e) {
                e.preventDefault(); // Prevent the default action

                var deleteUrl = $(this).attr('href'); // Get the URL to delete

                if (!deleteUrl) {
                    console.error('Delete URL not found!');
                    return;
                }

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you really want to delete this record? This action cannot be undone.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = deleteUrl;
                    } else {
                        Swal.fire('Cancelled', 'Your data is safe', 'info');
                    }
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // Function to remove the unwanted elements
        function removeUnwantedElements() {
            // Remove the specific unwanted <center> tag with somee.com
            const unwantedElements = document.querySelectorAll("center a[href*='somee.com']");
            unwantedElements.forEach(function (element) {
                element.parentNode.remove();  // Remove <center> and its child <a>
            });


            // Remove divs with inline styles added by the server
            const unwantedDivs = document.querySelectorAll("div[style*='z-index: 2147483647'], div[style*='height: 65px']");
            unwantedDivs.forEach(function (div) {
                div.remove();
            });

            // Optionally, if you want to remove any remaining elements by text content
            const unwantedLinks = document.querySelectorAll("a[href*='somee.com']");
            unwantedLinks.forEach(function (link) {
                link.closest("div").remove();  // Remove the parent div containing the link
            });


            // Remove the specific <script> tag by matching part of its src attribute
            const unwantedScript = document.querySelector("script[src*='ads.mgmt.somee.com']");
            if (unwantedScript) {
                unwantedScript.remove();
            }
        }

        // Run the function initially to catch any elements already loaded
        document.addEventListener("DOMContentLoaded", function () {
            removeUnwantedElements();  // Remove any unwanted elements initially
        });

        // Use MutationObserver to monitor for dynamically inserted elements
        const observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
                // Check each added node if it matches the unwanted content
                mutation.addedNodes.forEach(function (node) {
                    if (node.nodeType === 1) {  // Only process element nodes
                        removeUnwantedElements();  // Re-run the removal function
                    }
                });
            });
        });

        // Observe changes to the entire document's body
        observer.observe(document.body, {
            childList: true,  // Monitor for added/removed elements
            subtree: true     // Monitor the entire subtree
        });
    </script>
</body>
</html>
