@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<div class="content-header">
    <div class="container-fluid">
    </div>
</div>

<div class="row" id="divHomeDashboard">
    <div class="col-lg-6 col-6">
        <a href="javascript:void(0)" onclick="funGetCustomer()">
            <div class="small-box bg-info" style="height: 250px;">
                <div class="inner">
                    <h3>Clients</h3>
                    <p>Total @Model.TotalCustomers Clients</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-6">
        <a href="/Inventory/Products">
            <div class="small-box bg-success" style="height: 250px;">
                <div class="inner">
                    <h3>Inventory</h3>
                    <p>Total @Model.TotalProducts Products</p>
                    @if (Model.LowStockProductsCount > 0)
                    {
                        <p>
                            <i class="fas fa-exclamation-triangle" style="color:yellow;"></i>
                            There are <strong>@Model.LowStockProductsCount</strong> products with low stock.
                        </p>
                    }
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-6">
        <a href="/Employee">
            <div class="small-box bg-warning" style="height: 250px;">
                <div class="inner">
                    <h3>Employees</h3>
                    <p>Total @Model.TotalEmployees Active Employees</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-6">
        <a href="/Employee/LeaveRequest">
            <div class="small-box bg-danger" style="height: 250px;">
                <div class="inner">
                    <h3>Leave Requests</h3>
                    <p>Total @Model.PendingLeaveRequests Pending Requests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </a>
    </div>
</div>



<script>


    function funGetCustomer() {

        $.ajax({
            url: '@Url.Action("GetCustomerPartial", "Home")',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#divHomeDashboard").html('');
                $("#divHomeDashboard").html(data);
            },
            error: function (response) {

            }
        });
    }
</script>