@model CustomerComplianceModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Compliance" : "Edit Compliance";
 
    var today = DateTime.Now.ToString("yyyy-MM-dd");
    var maxDate = DateTime.Now.AddDays(7).ToString("yyyy-MM-dd");
}

<style>
    .custom-radio-as-checkbox label {
        cursor: pointer;
        user-select: none;
    }

    .custom-radio-as-checkbox input[type="radio"] {
        display: none;
    }

    .custom-radio-as-checkbox label::before {
        content: "\f00c";
        display: inline-block;
        width: 20px;
        height: 20px;
        /* border: 2px solid #007bff; */
        background-color: #fff;
        /* border-radius: 4px; */
        margin-right: 10px;
        vertical-align: middle;
        transition: background-color 0.3s, border-color 0.3s;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
        color: transparent;
        border: 2px solid #D3CFC8;
    }

    .custom-radio-as-checkbox input[type="radio"]:checked + label::before {
        /*  background-color: #007bff; */
        border-color: #007bff;
        color: #000;
    }

</style>

<section class="content pt-3">
    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <p>
                            <strong>Client Name:</strong> @Model.Firstname @Model.Lastname |
                            <strong>Birth Date:</strong> @Model.BirthDate?.ToString("yyyy-MM-dd") |
                            <strong>Mobile:</strong> @Model.Mobile
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-sm float-right ml-2" href="@Url.Action("Manage", "Customer", new { id = Model.CustomerId})">Back to Customer</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="ManageCompliance" method="post" id="complianceForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="hidden" asp-for="BirthDate" />
                    <input type="hidden" asp-for="Firstname" />
                    <input type="hidden" asp-for="Lastname" />
                    <input type="hidden" asp-for="Mobile" />
                    <input type="hidden" asp-for="Id" />

                    <table class="table table-striped">
                        <tbody>
                            <tr id="isOver16Row">
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsOver16" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsOver16" value="true" id="yesOver16" />
                                        <label class="form-check-label mr-2" for="yesOver16">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsOver16" value="false" id="noOver16" />
                                        <label class="form-check-label mr-2" for="noOver16">No</label>
                                    </div>
                                    <span asp-validation-for="IsOver16" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsIdentityProvided" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsIdentityProvided" value="true" id="yesIsIdentityProvided" />
                                        <label class="form-check-label mr-2" for="yesIsIdentityProvided">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsIdentityProvided" value="false" id="noIsIdentityProvided" />
                                        <label class="form-check-label mr-2" for="noIsIdentityProvided">No</label>
                                    </div>
                                    <span asp-validation-for="IsIdentityProvided" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr></tr>
                            <!-- Allergic to Colour -->
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsAllergicToColour" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergicToColour" value="true" id="yesColour" />
                                        <label class="form-check-label mr-2" for="yesColour">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergicToColour" value="false" id="noColour" />
                                        <label class="form-check-label mr-2" for="noColour">No</label>
                                    </div>
                                    <span asp-validation-for="IsAllergicToColour" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span asp-for="AllergicColourDetails" class="control-label">Details</span>
                                    <textarea asp-for="AllergicColourDetails" class="form-control"></textarea>
                                    <span asp-validation-for="AllergicColourDetails" class="text-danger"></span>
                                </td>
                            </tr>

                            <!-- Damaged Scalp -->
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsDamagedScalp" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsDamagedScalp" value="true" id="yesScalp" />
                                        <label class="form-check-label mr-2" for="yesScalp">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsDamagedScalp" value="false" id="noScalp" />
                                        <label class="form-check-label mr-2" for="noScalp">No</label>
                                    </div>
                                    <span asp-validation-for="IsDamagedScalp" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span asp-for="ScalpDetails" class="control-label">Details</span>
                                    <textarea asp-for="ScalpDetails" class="form-control"></textarea>
                                    <span asp-validation-for="ScalpDetails" class="text-danger"></span>
                                </td>
                            </tr>

                            <!-- Has Tattoo -->
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="HasTattoo" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="HasTattoo" value="true" id="yesTattoo" />
                                        <label class="form-check-label mr-2" for="yesTattoo">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="HasTattoo" value="false" id="noTattoo" />
                                        <label class="form-check-label mr-2" for="noTattoo">No</label>
                                    </div>
                                    <span asp-validation-for="HasTattoo" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span asp-for="TattooDetails" class="control-label">Details</span>
                                    <textarea asp-for="TattooDetails" class="form-control"></textarea>
                                    <span asp-validation-for="TattooDetails" class="text-danger"></span>
                                </td>
                            </tr>

                            <!-- Allergic to Product -->
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsAllergicToProduct" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergicToProduct" value="true" id="yesProduct" />
                                        <label class="form-check-label mr-2" for="yesProduct">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergicToProduct" value="false" id="noProduct" />
                                        <label class="form-check-label mr-2" for="noProduct">No</label>
                                    </div>
                                    <span asp-validation-for="IsAllergicToProduct" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span asp-for="AllergicProductDetails" class="control-label">Details</span>
                                    <textarea asp-for="AllergicProductDetails" class="form-control"></textarea>
                                    <span asp-validation-for="AllergicProductDetails" class="text-danger"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <br />
                    <div class="row">
                        @* <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TestScheduleOn" class="control-label">Test Schedule On</label>
                                <input asp-for="TestScheduleOn" class="form-control" />
                                <span asp-validation-for="TestScheduleOn" class="text-danger"></span>
                            </div>
                        </div> *@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TestDate" class="control-label">Test Date</label>
                                <input asp-for="TestDate" class="form-control" type="date" min="@today" max="@maxDate" />
                                <span asp-validation-for="TestDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" class="form-control" required>
                                    <option value="">Select Status</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Failed">Failed</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ObservedBy" class="control-label"></label>
                                <input asp-for="ObservedBy" class="form-control" />
                                <span asp-validation-for="ObservedBy" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="CanTakeService" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="CanTakeService" value="true" id="yesCanTakeService" />
                                        <label class="form-check-label mr-2" for="yesCanTakeService">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="CanTakeService" value="false" id="noCanTakeService" />
                                        <label class="form-check-label mr-2" for="noCanTakeService">No</label>
                                    </div>
                                    <span asp-validation-for="CanTakeService" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th style="width:70%">
                                    <label class="form-check-label" asp-for="IsAllergyTestDone" style="font-weight: 700 !important;"></label>
                                </th>
                                <td style="width:30%">
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergyTestDone" value="true" id="yesIsAllergyTestDone" />
                                        <label class="form-check-label mr-2" for="yesIsAllergyTestDone">Yes</label>
                                    </div>
                                    <div class="d-inline custom-radio-as-checkbox">
                                        <input type="radio" class="form-check-input" asp-for="IsAllergyTestDone" value="false" id="noIsAllergyTestDone" />
                                        <label class="form-check-label mr-2" for="noIsAllergyTestDone">No</label>
                                    </div>
                                    <span asp-validation-for="IsAllergyTestDone" class="text-danger"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <label asp-for="SignatureData" class="form-label mr-3"></label>
                        @if (string.IsNullOrEmpty(Model.SignatureData))
                        {
                            <div class="form-group">
                                <canvas class="w-100" style="max-width: 350px; height: auto; border:1px solid black" id="signature"></canvas><br />
                                <span asp-validation-for="SignatureData" class="text-danger"></span>
                                <button type="button" id="clear" class="btn btn-primary btn-sm mt-2  float-right"><i class="fas fa-sync-alt"></i> &nbsp; Reset</button>
                                <input type="text" asp-for="SignatureData" hidden required>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <img class="w-100" id="savetarget" src="@Model.SignatureData" style="max-width: 350px; height: auto;"><br>
                                <input type="text" asp-for="SignatureData" hidden required>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <label asp-for="SalonSignatureData" class="form-label mr-3"></label>
                        @if (string.IsNullOrEmpty(Model.SalonSignatureData))
                        {
                            <div class="form-group">
                                <canvas class="w-100" style="max-width: 350px; height: auto; border:1px solid black" id="salonsignature"></canvas><br />
                                <span asp-validation-for="SalonSignatureData" class="text-danger"></span>
                                <button type="button" id="salonclear" class="btn btn-primary btn-sm mt-2 float-right"><i class="fas fa-sync-alt"></i> &nbsp; Reset</button>
                                <input type="text" asp-for="SalonSignatureData" hidden required>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <img class="w-100" id="salonsavetarget" src="@Model.SalonSignatureData" style="max-width: 350px; height: auto;"><br>
                                <input type="text" asp-for="SalonSignatureData" hidden required>
                            </div>
                        }
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js" integrity="sha512-Hx7mfz/FnwNfy+erC6kvUftuP4gdTf/qNnDjLOcbQuHR9b8xZn2cWZ8GbdgCWZx5VpbxUZ2UzJWBl/vukUJ68A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(function () {

        var canvas = document.querySelector('#signature');
        var pad = new SignaturePad(canvas);

        if (pad.isEmpty()) {
            pad.clear();
            $('#savetarget').attr('src', '');
            $('#SignatureData').val('');
            pad.on();
            // $('#accept').show();
            // $('#clear').hide();
        }

        $('#accept').click(function () {
            if (pad.isEmpty()) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a signature before accepting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                var data = pad.toDataURL();
                $('#savetarget').attr('src', data);
                $('#SignatureData').val(data);
                pad.off();
                // $('#accept').hide();
                // $('#clear').show();
            }
        });

        $('#clear').click(function () {
            pad.clear();
            $('#savetarget').attr('src', '');
            $('#SignatureData').val('');
            pad.on();
            // $('#accept').show();
            // $('#clear').hide();
        });


        var canvas1 = document.querySelector('#salonsignature');
        var pad1 = new SignaturePad(canvas1);

        if (pad1.isEmpty()) {
            pad1.clear();
            $('#salonsavetarget').attr('src', '');
            $('#SalonSignatureData').val('');
            pad1.on();
            // $('#salonaccept').show();
            // $('#salonclear').hide();
        }

        $('#salonaccept').click(function () {
            if (pad1.isEmpty()) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a salon signature before accepting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                var data = pad1.toDataURL();
                $('#salonsavetarget').attr('src', data);
                $('#SalonSignatureData').val(data);
                pad1.off();
                // $('#salonaccept').hide();
                // $('#salonclear').show();
            }
        });

        $('#salonclear').click(function () {
            pad1.clear();
            $('#salonsavetarget').attr('src', '');
            $('#SalonSignatureData').val('');
            pad1.on();
            // $('#salonaccept').show();
            // $('#salonclear').hide();
        });

        $('#complianceForm').submit(function (event) {
            debugger
            if (!$(this).valid()) {
                event.preventDefault();
                return;
            }

            if (pad.isEmpty() && $('#SignatureData').val() == '') {
                event.preventDefault();
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a signature before submitting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                $("#accept").click();
                // var data = pad.toDataURL();
                // $('#SignatureData').val(data);
            }

            if (pad1.isEmpty() && $('#SalonSignatureData').val() == '') {
                event.preventDefault();
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a salon signature before submitting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                $("#salonaccept").click();
                // var data = pad.toDataURL();
                // $('#SalonSignatureData').val(data);
            }
        });

    });
</script>
