@model CustomerComplianceModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Compliance" : "Edit Compliance";
}
<section class="content pt-3">
    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <p>
                            <strong>Client Name:</strong> @Model.Firstname @Model.Lastname |
                            <strong>Birth Date:</strong> @Model.BirthDate?.ToString("yyyy-MM-dd") |
                            <strong>Mobile:</strong> @Model.Mobile
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-sm float-right ml-2" href="@Url.Action("Manage", "Customer", new { id = Model.CustomerId})">Back to Customer</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="ManageCompliance" method="post" id="complianceForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="hidden" asp-for="BirthDate" />
                    <input type="hidden" asp-for="Firstname" />
                    <input type="hidden" asp-for="Lastname" />
                    <input type="hidden" asp-for="Mobile" />
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsAllergicToColour" />
                        <label class="form-check-label" asp-for="IsAllergicToColour" style="font-weight: 700 !important;"></label>
                        <span asp-validation-for="IsAllergicToColour" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-for="AllergicColourDetails" class="control-label">Allergic Colour Details</span>
                        <textarea asp-for="AllergicColourDetails" class="form-control"></textarea>
                        <span asp-validation-for="AllergicColourDetails" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsDamagedScalp" />
                        <label class="form-check-label" asp-for="IsDamagedScalp" style="font-weight: 700 !important;"></label>
                        <span asp-validation-for="IsDamagedScalp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-for="ScalpDetails" class="control-label">Scalp Details</span>
                        <textarea asp-for="ScalpDetails" class="form-control"></textarea>
                        <span asp-validation-for="ScalpDetails" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="HasTattoo" />
                        <label class="form-check-label" asp-for="HasTattoo" style="font-weight: 700 !important;"></label>
                        <span asp-validation-for="HasTattoo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-for="TattooDetails" class="control-label">Tattoo Details</span>
                        <textarea asp-for="TattooDetails" class="form-control"></textarea>
                        <span asp-validation-for="TattooDetails" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsAllergicToProduct" />
                        <label class="form-check-label" asp-for="IsAllergicToProduct" style="font-weight: 700 !important;"></label>
                        <span asp-validation-for="IsAllergicToProduct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-for="AllergicProductDetails" class="control-label">Allergic Product Details</span>
                        <textarea asp-for="AllergicProductDetails" class="form-control"></textarea>
                        <span asp-validation-for="AllergicProductDetails" class="text-danger"></span>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TestScheduleOn" class="control-label">Test Schedule On</label>
                                <input asp-for="TestScheduleOn" class="form-control" />
                                <span asp-validation-for="TestScheduleOn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TestDate" class="control-label">Test Date</label>
                                <input asp-for="TestDate" class="form-control" />
                                <span asp-validation-for="TestDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Failed">Failed</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ObservedBy" class="control-label"></label>
                                <input asp-for="ObservedBy" class="form-control" />
                                <span asp-validation-for="ObservedBy" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" asp-for="CanTakeService" />
                                <label class="form-check-label" asp-for="CanTakeService" style="font-weight: 700 !important;"></label>
                                <span asp-validation-for="CanTakeService" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" asp-for="IsAllergyTestDone" />
                                <label class="form-check-label" asp-for="IsAllergyTestDone" style="font-weight: 700 !important;"></label>?
                                <span asp-validation-for="IsAllergyTestDone" class="text-danger"></span>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <label asp-for="SignatureData" class="form-label mr-3"></label>
                        <div class="form-group">
                            <canvas class="w-100" style="max-width: 350px; height: auto; border:1px solid black" id="signature"></canvas><br>
                            <button type="button" id="accept" class="btn btn-primary btn-sm mt-2">Accept</button>
                            <button type="button" id="clear" class="btn btn-primary btn-sm mt-2" style="display:none;">Clear</button>
                        </div> 
                        <div class="form-group">
                            <img class="w-100" style="max-width: 350px; height: auto;" id="savetarget" src="@Model.SignatureData"><br>
                            <input type="text" asp-for="SignatureData" hidden>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js" integrity="sha512-Hx7mfz/FnwNfy+erC6kvUftuP4gdTf/qNnDjLOcbQuHR9b8xZn2cWZ8GbdgCWZx5VpbxUZ2UzJWBl/vukUJ68A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {

        var canvas = document.querySelector('#signature');
        var pad = new SignaturePad(canvas);

        $('#accept').click(function () {
            if (pad.isEmpty()) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a signature before accepting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                var data = pad.toDataURL();
                $('#savetarget').attr('src', data);
                $('#SignatureData').val(data);
                pad.off();
                $('#accept').hide();
                $('#clear').show();
            }
        });
        $('#clear').click(function () {
            pad.clear();
            $('#savetarget').attr('src', '');
            $('#SignatureData').val('');
            pad.on();
            $('#accept').show();
            $('#clear').hide();
        });

        $('#complianceForm').submit(function (event) {

            if (!$(this).valid()) {
                event.preventDefault();
                return;
            }

            if (pad.isEmpty() && $('#SignatureData').val() == '') {
                event.preventDefault();
                Swal.fire({
                    title: 'Error!',
                    text: 'Please provide a signature before submitting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                var data = pad.toDataURL();
                $('#SignatureData').val(data);
            }
        });

    });
</script>
