@model LeaveRequestModel
@{
    var title = Model.Id == 0 ? "Create Leave Request" : "Edit Leave Request";
}

<link href="~/quirke/css/select2.min.css" rel="stylesheet" />
<link href="~/quirke/css/select2-bootstrap4.min.css" rel="stylesheet" />

<style>
    .select2-selection {
        height: calc(2.25rem + 2px) !important;
    }
</style>

<div class="modal-header">
    <h5 class="modal-title" id="commonModalCenterTitle">@title</h5>
    <button type="button" class="close" aria-label="Close" onclick="funCloseModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="ManageRequests" method="post" id="frmRequest" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="Model.EmployeeList">
                    <option></option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control" asp-items="Model.LeaveTypeList">
                    <option></option>
                </select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>

            @{
                var leaveDuration = Model?.LeaveDuration ?? "Full Day";
            }

            <div class="form-group clearfix">
                <label asp-for="LeaveDuration" class="control-label"></label>
                <div class="row">
                    <div class="icheck-primary d-inline col-md-4">
                        <input type="radio" id="radioPrimary1" name="LeaveDuration" value="Half Day" @(leaveDuration == "Half Day" ? "checked" : "")>
                        <label for="radioPrimary1">Half Day</label>
                    </div>
                    <div class="icheck-primary d-inline col-md-4">
                        <input type="radio" id="radioPrimary2" name="LeaveDuration" value="Full Day" @(leaveDuration == "Full Day" ? "checked" : "")>
                        <label for="radioPrimary2">Full Day</label>
                    </div>
                    <div class="icheck-primary d-inline col-md-4">
                        <input type="radio" id="radioPrimary3" name="LeaveDuration" value="Multiple Days" @(leaveDuration == "Multiple Days" ? "checked" : "")>
                        <label for="radioPrimary3">Multiple Days</label>
                    </div>
                </div>
                <span asp-validation-for="LeaveDuration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" type="date" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" type="date" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="frmLeaveFile" asp-for="Document">
                        <label class="custom-file-label" for="Document">Choose File</label>
                    </div>
                </div>
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RequestStatus" class="control-label"></label>
                <select asp-for="RequestStatus" class="form-control">
                    <option value="">Select Status</option>
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <span asp-validation-for="RequestStatus" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer  text-center">
        <button type="button" class="btn btn-danger" onclick="funCloseModal()">Close</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i>Save</button>
    </div>
</form>


<script src="~/quirke/js/select2.min.js"></script>
<script src="~/quirke/js/jquery.validate.min.js"></script>
<script src="~/quirke/js/additional-methods.min.js"></script>
<script src="~/quirke/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        $("#EmployeeId").select2({
            placeholder: "Select Employee",
            allowClear: true,
            width: 'resolve',
            outerHeight: 'resolve',
        });

        $("#LeaveTypeId").select2({
            placeholder: "Select Leave Type",
            allowClear: true,
            width: 'resolve',
            outerHeight: 'resolve',
        });

        $("#EmployeeId").on('change', function () {
            var employeeId = $(this).val();

            if (employeeId) {
                $.ajax({
                    url: '@Url.Action("GetLeaveTypesByEmployee", "Employee")',
                    type: 'GET',
                    dataType: 'json',
                    data: { employeeId: employeeId },
                    success: function (leaveTypes) {
                        if (leaveTypes.length == 0) {
                            $("#EmployeeId").val('').change();
                            Swal.fire({
                                title: 'Error!',
                                text: "No Leaves found for this employee.",
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                            return;
                        } else {
                            var leaveTypeSelect = $("#LeaveTypeId");
                            leaveTypeSelect.empty();

                            $.each(leaveTypes, function (index, leaveType) {
                                leaveTypeSelect.append(new Option(leaveType.Text, leaveType.Value));
                            });
                            leaveTypeSelect.val('').change();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching leave types: ", error);
                    }
                });
            }
        });

        function handleDateFields() {
            var selectedValue = $('input[name="LeaveDuration"]:checked').val();
            var startDate = $('#StartDate').val();

            if (selectedValue === 'Half Day' || selectedValue === 'Full Day') {
                $('#EndDate').val(startDate);
                $('#EndDate').prop('readonly', true);
            } else {
                $('#EndDate').prop('readonly', false);
                $('#EndDate').attr('min', startDate);
            }
        }

        handleDateFields();

        $('input[name="LeaveDuration"]').on('change', function () {
            handleDateFields();
        });

        $('#StartDate').on('change', function () {
            handleDateFields();
        });

        $('#frmRequest').submit(function (e) {
            e.preventDefault();

            var form = $(this);
            var formData = new FormData(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    debugger
                    if (response == null) {
                        return false;
                    }

                    if (response.result) {
                        Swal.fire({
                            title: 'Success!',
                            text: response.msg,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                        .then((result) => {
                            // if (result.isConfirmed) {
                            //     funCloseModal();
                            // }
                        });
                        funCloseModal();
                    } else if (!response.result) {
                        Swal.fire({
                            title: 'Error!',
                            text: response.msg,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Submission failed: ", error);
                    Swal.fire({
                        title: 'Submission Failed!',
                        text: "There was an issue submitting your request. Please try again.",
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });

    });
</script>
