@model LeaveRequestModel


<div class="modal-header">
    <h5 class="modal-title" id="commonModalCenterTitle">Leave Request Details</h5>
    <button type="button" class="close" aria-label="Close" onclick="funCloseModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label">Employee</label>
        <p class="form-control-static">@Model.EmployeeName</p>
    </div>

    <div class="form-group">
        <label asp-for="LeaveTypeId" class="control-label">Leave Type</label>
        <p class="form-control-static">@Model.LeaveType</p>
    </div>

    <div class="form-group">
        <label asp-for="LeaveDuration" class="control-label">Leave Duration</label>
        <p class="form-control-static">@Model.LeaveDuration</p>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Start Date</label>
        <p class="form-control-static">@Model.StartDate.Value.ToString("yyyy-MM-dd")</p>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="control-label">End Date</label>
        <p class="form-control-static">@Model.EndDate.Value.ToString("yyyy-MM-dd")</p>
    </div>

    <div class="form-group">
        <label asp-for="Note" class="control-label">Note</label>
        <p class="form-control-static">@Model.Note</p>
    </div>

    <div class="form-group">
        <label asp-for="Document" class="control-label">Document</label>
        @if (!string.IsNullOrEmpty(Model.Document))
        {
            <p class="form-control-static">
                <a href="@Url.Action("DownloadLeaveRequestDocument", "Employee", new { id = Model.Id })" class="btn btn-success btn-sm"><i class="fa fas fa-download"></i></a>
            </p>
        }
        else
        {
            <p class="form-control-static">No document attached</p>
        }
    </div>

    <div class="form-group">
        <label asp-for="RequestStatus" class="control-label">Request Status</label>
        <p class="form-control-static">@Model.RequestStatus</p>
    </div>
</div>
